<%# header image %>
<div class="jumbotron"></div>
<%# end %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2><strong><u>Latest 5 messages</u></strong></h2>
      <% @messages.each do |message| %>
        <div>
          <h4>Post <%= message.id%></h4>
          <p><%= message.message %></p>
          <p>Posted on <%= message.created_at.strftime("%Y-%m-%d") %></p>
        </div>
        <hr>
      <% end %>
    </div>
  </div>
  <div class="text-center mb-3">
    <%= button_to "View more", messages_path, method: :get, class: "btn btn-outline-primary" %>
  </div>
</div>