<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <%= button_to "Post new message", new_message_path, method: :get, class: "btn btn-primary btn-block my-3" %>

      <h3 class="text-center">Welcome back <%= current_user.email %></h3>

      <p>All your posts</p>
      <div>
        <ul>
          <% @messages.each do |message| %>
            <li><%= link_to "Post #{message.id}", message_path(message.id) %>
              <ul>
                <li><%= truncate(message.message, length: 200, separator: ' ') %></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>